dcmcbot-core/src/main/resources/config-schema/dcmcbot-config-schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DcMcBotConfig" type="DcMcBotConfigType"/>

    <xs:complexType name="DcMcBotConfigType">
        <xs:sequence>
            <xs:element name="Token" type="xs:string"/>
            <xs:element name="DisplayBotName" type="xs:string"/>
            <xs:element name="DisplayBotIconUrl" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>